.container{
    z-index: -1;
    cursor: none;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #3BADD2;
}
.container h1{
    text-align: center;

}
.canva{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.won{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.won p{
    font-size: 200%;
    font-weight: bold;
}