.main {
    display: grid;
    grid-template-rows: 15vh 37vh auto;
    grid-template-areas:
        " header "
        " content";
}

/*header*/
#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 20vw 20vw 17vw 25vw auto;
    background-color: #462D8B;
    grid-template-areas:
        "logo p1 p2 p3 p4";
}

#p1 {
    grid-area: p1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1 p {
    color: white;
}

#p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: p2;
    padding: 0;
}

.boitePurple:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6600FF;
    width: 165px;
    height: 45px;
}

.p {
    text-align: center;
    padding-left: 0px;
    color: white;
}

#p3 {
    grid-area: p3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p3 p {
    color: white;
}
.customshapedividertop1669943651{
    margin-top: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.customshapedividertop1669943651 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 241px;
}

.customshapedividertop1669943651 .shapeFill {
    fill: #6600FF;
}
.content{
    grid-area:content;
    background-color: #6600FF;
}